VITE_API_URL=/api/v1
VITE_MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here
VITE_COMPANY_CONTACT_NAME=Purandar Properties
VITE_COMPANY_CONTACT_PHONE=9999999999
VITE_COMPANY_CONTACT_EMAIL=contact@purandarproperties.com
VITE_COMPANY_WHATSAPP_NUMBER=9999999999
VITE_MSG91_WIDGET_ID=your_widget_id
VITE_MSG91_AUTH_KEY=your_widget_token
VITE_FIREBASE_API_KEY=your_firebase_api_keyAIzaSyCvsCxnalK_QonAXUXn7YlJ9xFt5W29Xgk
VITE_FIREBASE_AUTH_DOMAIN=purandar-web.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=purandar-web
VITE_FIREBASE_STORAGE_BUCKET=purandar-web.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=462198853743
VITE_FIREBASE_APP_ID=1:462198853743:web:3287c29022d3dc52dbbd9a
VITE_FIREBASE_VAPID_KEY=G-HE5GLZH8HX
